*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(2, 131, 243);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 56px;
}

header span{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
}

header nav a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-left:18px ;
}

header nav a:hover{
    color: black;
}

main h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

main section{
    display: flex;
    padding: 26px;
}

main section p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 12px;
    font-size: 20px;
}

.about-img{
    width: 460px;
    height: 350px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    margin-top: 22px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 12px 0;
    font-size: 20px;
}

form input{
    height: 36px;
}

form button{
    margin-top: 12px;
    width: 80px;
    height: 30px;
    background-color: rgb(2, 131, 243);
    border: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}